.div-all-about {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--primary-color);
    row-gap: 5px;
}

#meet {
    text-shadow: 1px 5px 5px salmon;
}

#our {
    text-shadow: 1px 5px 5px var(--green-lizard);
}

#team {
    text-shadow: 1px 5px 5px var(--blue-lizard); 
}
.about-h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: 600;
    color: #6C4F43;
    text-shadow: 0px 6px 5px #4A5D23;
}

.h3-r-name, .h3-r-role, .h3-r-location {
    background-color: transparent;
    font-weight: 900;
    margin-top: 5px;
    color: #6C4F43;
    text-shadow: 0px 6px 5px salmon;
}
.h3-g-name, .h3-g-role, .h3-g-location {
    background-color: transparent;
    font-weight: 900;
    margin-top: 5px;
    color: #6C4F43;
    text-shadow: 0px 6px 12px #4A5D23;
}
.h3-b-name, .h3-b-role, .h3-b-location {
    background-color: transparent;
    font-weight: 900;
    margin-top: 5px;
    color: #6C4F43;
    text-shadow: 0px 6px 5px #61939E;
}

p {
    background-color: transparent;
    color: #6C4F43;
}

.spanny {
    background-color: transparent;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    >img {
        height: auto;
        width: 200px;
    }
}

.div-raquel, .div-graham, .div-bao {
    height: auto;
    width: 675px;
    display: flex;
    /* background-color: transparent; */
    /* background-color: #61939e7c; */
    background-color: var(--card-back);
    flex-direction: column;
    margin-top: 5px;
    padding: 5px;
    /* box-shadow: rgb(141, 123, 63, 0.5) 3px 3px 6px 0px inset, rgba(150, 132, 69, 0.5) -3px -3px 6px 1px inset; */
    /* box-shadow: 0px 0px 25px black; */
    border: 6px solid var(--secondary-color);
    border-radius: 10% 10% 10% 10%;
}

.div-raquel{
    box-shadow: 0px 0px 20px salmon;
}

.div-graham{
    box-shadow: 0px 0px 20px var(--green-lizard);
}

.div-bao{
    box-shadow: 0px 0px 20px var(--blue-lizard);
}

.img-bao {
    width: 200px;
    height: 250px;
    background-color: transparent;
}

.img-raquel {
    width: 225px;
    height: 225px;
    background-color: transparent;
}
.img-graham {
    width: 175px;
    height: 250px;
    background-color: transparent;
}

.img-raquel-2, .img-bao-2{
    width: 250px;
    height: 250px;
}

.img-graham-2 {
    width: 250px;
    height: 250px;
}

.about-p1, .about-p2, .about-p3 {
    background-color: transparent;
    margin-top: 10px;
}

.div-all-about div p {
    text-shadow: 0px 0px 20px black;
    font-size: 1.3rem;
    margin-top: 10px;
} 