.card-edit-div {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 90vh;

  >h1 {
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0px 6px 5px #4A5D23;
  }
}

.edit-liz {
  width: 200px;
  height: 200px;
}

.edit-button {
  border-radius: 20px;
}

.cancel-btn {
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0px 3px 10px white;
    color: white;
  }
}

.edit-card .edit-card-question, .edit-card .edit-card-answer{
  font-size: 1.5rem;
  transform: translateY(20px);
}

.edit-card-input {
  background-color: var(--primary-color);
  transform: translateY(-10px);
}
