.edit-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 90vh;
  padding-top: 20px;
  background-color: var(--primary-color);
	color: var(--secondary-color);

  > img {
    width: 200px;
    height: 200px;
  }
}

.edit-card {
  display: flex;
  flex-direction: column;
  border: 6px solid var(--secondary-color);
  border-radius: 25px;
  width: 220px;
  height: 300px;
  padding: 20px;
  background-color: var(--card-front);
  justify-content: center;

  > label {
    background-color: var(--card-front);
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  > .edit-button {
    margin-top: 10px;
    width: 75%;
    align-self: center;
    color: black;
    font-weight: 500;
    background-color: var(--primary-color);
    &:hover{
      color: white;
      cursor: pointer;
      box-shadow: 1px 1px 5px var(--primary-color);
    }
  }
  
  >.cancel-btn {
    width:max-content;
    align-self: center;
    margin-top: 10px;
  }
}