.new-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 90vh;
  row-gap: 15px;
  
  > h2{
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 0px 5px 10px salmon;
  }
}

.new-card {
  display: flex;
  flex-direction: column;
  border: 6px solid var(--secondary-color);
  border-radius: 25px;
  width: 220px;
  height: 300px;
  padding: 20px;
  background-color: var(--card-front);
  justify-content: center;
  row-gap: 10px;

  > .new-buttons {
    margin-top: 10px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    display: flex;
    justify-content: space-around;

    > .create {
      &:hover {
        background-color: green ;
      }
    }

    > .cancel {
      &:hover {
        background-color: red ;
      }
    }
  }

  > .new-label {
      background-color: transparent;
      color: white;
      font-weight: 900;
      font-size: 2rem;
  }
}

.deckCreateImg {
  width: 300px;
  height: auto;
}