.card-page-container h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.card-page-container {
  
}

.protecLizDeck {
  height: auto;
  width: 250px;
  margin-top: 8px;
}

.protecDeckSpan {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
}

.deck-page-container {
  display: flex;
 flex-direction: row;
}