.quiz-page-container{
  height: 90vh;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  position: relative;
  background-image: url(../assets/quiz-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  > h1 {
    margin-top: 10px;
    font-size: 3.2rem;
    font-weight: 600;
    text-shadow: 0px 5px 10px var(--blue-lizard);
    background-color: transparent;
	  color: var(--secondary-color);
  }

  > h2 {
    transform: translateY(-10px);
    text-shadow: 0px 5px 5px salmon;
    background-color: transparent;
    font-weight: 900;
    color: var(--secondary-color);
  }
  > img {
    width: 150px;
    height: 120px;
    background-color: transparent;
  }
}

.slider-container {
  box-shadow: 2px 2px 10px black;
  border-radius: 50px;
  height: 50vh;
  width: 100%;
  overflow-x: auto;
  overflow-y: none ;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  scroll-snap-type: x mandatory;
  margin-top: 10px;
  background-color: transparent;
  backdrop-filter: sepia(75%);

  &::-webkit-scrollbar {
    display: none;
  }
}

.quiz-cards {
  width: 100vw;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.quiz-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  
  > button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: black;
    font-weight: 900;
    font-size: 1.4rem;
    opacity: .5;

    &:hover{
      opacity: 1;
      color: white;
    }
  }
}

.correct-btn {
  background-color: limegreen;
}

.wrong-btn{
  background-color: red;
}

.left-arrow, .right-arrow {
  border: none;
  background-color: transparent;
  pointer-events: all;
  color: white;
  opacity: .6;
  &:hover {
    cursor: pointer;
    opacity: 1;
    color: var(--secondary-color);
  }
}

.arrows-container {
  display: flex;
  column-gap: 400px;
  position: absolute;
  transform: translateY(455px);
  pointer-events: none;
}

.indicators-container{
  display: flex;
  margin-top: 5px;
  color: #aa4203;
}

.quiz-instructions{
  width: 35vw;
  height: auto;
  position: absolute;
  top: 8%;
  right: 2%;
  color: white;
  text-align: left;

  > h5 {
    font-weight: 900;
    text-shadow: 0px 1px 5px black;
  }
}
.quiz-score-container{
  position: absolute;
}

.quiz-score {
  height: auto;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 340%);
  pointer-events: none;
  column-gap: 300px;
  > div h5 {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 5px 10px var(--green-lizard);
  }
}

.score-div , .question-div{
  border-radius: 25px;
  backdrop-filter: hue-rotate(120deg) blur(5px);
  width: 150px;
  height: auto;
}

.motiv-msg-container{
  /* border: 1px solid red; */
  color: white;
  width: max-content;
  display: flex;
  overflow: hidden;
}

.motiv-msg{
  white-space: nowrap;
  max-width: 80%;
}

.quiz-no-cards{
  > h2 {
    font-weight: 900;
    color: red;
    text-shadow: 0px 1px 5px white;
  }
}

.quiz-no-cards button {
  border-radius: 20px;
  height: 50px;
  opacity: .6;


  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}

.word-correct{
  color: limegreen;
  text-shadow: 0px 2px 3px black;
}

.word-wrong {
  color: red;
  text-shadow: 0px 2px 3px black;
}