.footer-container{
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: end;
  
  > a {
    margin-right: 10px;
  }
  > img {
    display: inline;
    width: 150px;
    height: max-content;
  }
}

