.footer-container{
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  align-items: flex-end;
}

.footer-container .footer-content-container{
  width: fit-content;
  display: flex;
  justify-content: center;
  font-size: 12px;
  > a img {
    width: 150px;
    height: max-content;
  }
}


@media (width < 380px) {
  .footer-container {
    width: 100vw;
  }

  .footer-container .footer-content-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
  
    > a img {
      width: 120px;
      height: max-content;
    }
  }

  .footer-container .footer-content-container a{
    font-size: 12px;
  }

}

