.nav-container {
  justify-content: center;
  column-gap: 2%;
  align-items: center;
  width: 100%;
  height: 5vh;
}

.nav-item-container{
  opacity: 1;
}

.nav-item a {
  text-decoration: none;
}

.nav-item, .nav-link {
  color: #6C4F43;
}

.nav-link:hover {
  color: #b28d7d;
}

.liz-house {
  width: 60px;
  height: 60px;
}