.sparkle {
  position: absolute;
  font-size: 15px;
  animation: explode 0.3s ease-out forwards, fall 0.1s ease-out forwards;
  transform-origin: center;
  color: transparent;
  cursor: default;
  pointer-events: none;
  overflow-y: hidden;
}

.sparkle::-webkit-scrollbar {
  display: none;
  overflow-y: none;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20vh);
    opacity: 0;
  }
}