* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	
}

:root {
	--light-mode-bg: #f2eede;
	--light-mode-text: black;

  --dark-mode-bg: rgb(41, 40, 40);
	--dark-mode-text: rgb(139, 133, 133);

	--card-front: #2f8ea6;
	--card-back: #FEFCAD;

	--primary-color: rgb(211, 204, 99);
	--secondary-color: rgba(90, 3, 3, 0.522); 
}
