@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins:wght@300;400;500;600&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Calligraffitti', cursive;
	font-weight: 900;
}

/* body {
	height: max-content;
	overflow-y: auto;
} */

html,body {
	margin: 0;
	padding: 0;
	height: auto;
	min-width: 100%;
	overflow: hidden;
}

:root {
	--light-mode-bg: #f2eede;
	--light-mode-text: black;

	--dark-mode-bg: rgb(41, 40, 40);
	--dark-mode-text: rgb(139, 133, 133);

	--card-front: #61939E;
	--card-back: #FEFCAD;

	--primary-color: #E3CA6D;
	--secondary-color: #6C4F43;

	--pink-lizard: salmon;
	--green-lizard: #4A5D23;
	--blue-lizard: #61939E;
}

.deck-page-container {
	height: 90vh;
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 10px;
	overflow-y: auto;
	background-color: var(--primary-color);
	color: var(--secondary-color)
}

.page-title {
	margin-top: 5%;
	display: flex;
	width: 100%;
	justify-content: center;
	font-weight: 900;
	font-size: 3rem;
	text-shadow: 0px 6px 9px var(--blue-lizard);

}

.deck-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 6px solid var(--secondary-color);
	border-radius: 25px;
	width: 220px;
	height: 300px;
	padding: 20px;
	background-color: var(--card-front);
	margin-bottom: 10%;

	&:hover{
		opacity: 0.9;
	}

	>a {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-decoration: none;
		background-color: var(--card-front);
		row-gap: 10px;
		column-gap: 5px;
	}

	>a button {
		border-radius: 1px;
		flex-grow: 1;

	}

}

.deck-title {
	background-color: transparent;
	font-weight: 600;
	color: white;
	text-shadow: 0px 2px 5px black;
}

.deck-container .delete-button {
	background-color: rgb(177, 47, 47);
}

.footer-container {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.nav-container {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

h1, h2 {
	color: var(--secondary-color);
}

.deck-index-img {
	width: 150x;
	height: 200px;
}

.deck-index-span {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}